/*
"app.css" contains all styling that is specific to the simulation.
It is written using a responsive, mobile-first design approach.
It does not contain any styling relevant to the blog or about page.
It assumes the user is accessing the site on a modern, evergreen browser.
It also assumes it is being used in tandem with main.css.
*/

/* ====== START OF SCREEN SPECIFIC CONTENT ======*/

/*
Overarching design principles:

* We want to maximize the utility of screenspace for any given orientation.
* We want our solution to scale well for any number of UI components.
* We want our solution to be consistent to the user.
* We want to leverage existing UI conventions to prevent user confusion.

The planet is the main focus of the application, so therefore
 much of the screenspace is rightfully consumed by the planet, in the center.
This is regardless of screen orientation.
The planet is also spherical, so it takes up equal portions of width and height
 at the center of the screen.
This is again regardless of screen orientation.
So in landscape orientations, most of the remaining screenspace is on the left and right.
 The remaining screenspace is taller than it is wide, so our UI should scale out vertically.
 We abstain from scaling the UI out horizontally, since a sufficiently
  large number of UI components could then obstruct the view of the planet.
 Our button groups are vertical, our flexboxes are column based, and we do not wrap content.
In portrait orientations, most of the remaining screenspace is on the top and bottom.
 The remaining screenspace is wider than it is tall, so our UI should scale out horizontally.
 We abstain from scaling the UI out vertically, since a sufficiently
  large number of UI components could then obstruct the view of the planet.
 Our button groups are horizontal, our flexboxes are row based, and we do not wrap content.

We also note that text must always consume horizontal space.
This is the case regardless of screen orientation.
Because the UI scales out horizontally in a portrait orientation,
 we can see the portrait orientation is more resource constrained.
And since we follow the logic of mobile-first design,
 we must first design for the most resource constrained environment.
We therefore not only adopt a mobile-first design, but a portrait-first design, as well.

Since we adopt a portrait first design, our button groups are horizontal by default.
We only style button groups vertically when the user switches to a landscape orientation.
The same applies to the flexboxes and all our other controls.

We want our UI to be consistent to the user,
 and by following a well reasoned design we do already accomplish that to an extent.
However, standards should be set for any aspect of design that is not clamped down by the above reasoning.
By convention, the top left corner is typically used for branding and site level navigation,
 so we will follow that convention and leave that corner to that purpose.
That means the remaining UI should occupy one of the remaining corners.
Since the remaining UI must be able to expand out both horizontally and vertically,
 we should position it to allow expansion into either of those directions.
This means placing it in the bottom right, as far away from our branding as possible.
In landscape orientations, it will expand from bottom right to top right.
In portrait orientations, it will expand from bottom right to bottom left.
*/
.control-material {
  /* max height should not cause world to become obstructed */
  display: none;
}
@media (pointer: fine), (pointer: none), (orientation: landscape) {
  .control-material {
    display: none;
  }
}
@media (orientation: landscape) {
  .control-material {
    display: none;
  }
}
@media (pointer: fine), (pointer: none) {
  .control-material {
    display: none;
  }
}


.control {
  display: none;
}
@media (pointer: fine), (pointer: none), (orientation: landscape) {
  .control {
    display: none;
  }
}
@media (orientation: landscape) {
  .control {
    display: none;
  }
}
@media (pointer: fine), (pointer: none) {
  .control {
    display: none;
  }
}

.btn {
  display: none;
}
.btn img {
  display: none;
}
@media (pointer: fine), (pointer: none) {
  .btn {
    display: none;
  }
  .btn img {
    display: none;
  }
}

.instructions {
  display: none;
}
@media (pointer: fine), (pointer: none) {
  .instructions {
    display: none;
  }
}

/*
"horizontal-axis-group" behaves similarly to bootstrap's .btn-group.
Its name makes clear the fact that its content always expands out horizontally,
regardless of screen orientation.
This is only meant to provide an override for special cases
where we know the content is short enough not to require considering screen orientation.
*/
.horizontal-axis-group {
  display: none;
}
/*
"vertical-axis-group" behaves similarly to bootstrap's .btn-group.
Its name makes clear the fact that its content always expands out vertically,
regardless of screen orientation.
This is only meant to provide an override for special cases
where we know the content is short enough not to require considering screen orientation.
*/
.vertical-axis-group {
  display: none;
}

/*
".short-axis-group" behaves similarly to bootstrap's .btn-group,
 however it switches between vertical and horizontal axes dependant on screen orientation.
It picks whichever axis is longest at any given time:
In portrait mode, it assumes a vertical layout.
In horizontal mode, it assumes a horizontal layout.
The short axis is important because we can add components along it indefinitely
 without ever obstructing the main focus of the screen (in our case, the planet).
Since one of our core design principles is to prevent obstruction of the main focus,
 .short-axis-group should be used with any component that can expand to an arbitrary length,
 especially if the component should always remain visible for ease of use.
*/
.short-axis-group {
  display: none;
}
.short-axis-group .btn + .btn,
.short-axis-group .btn + .short-axis-group,
.short-axis-group .short-axis-group + .btn,
.short-axis-group .short-axis-group + .short-axis-group {
  display: none;
}
.short-axis-group .btn,
.short-axis-group .short-axis-group .btn {
  display: none;
}
.short-axis-group .btn:not(:last-child):not(.dropdown-toggle),
.short-axis-group .short-axis-group:not(:last-child) .btn {
  display: none;
}
.short-axis-group .btn:not(:first-child),
.short-axis-group .short-axis-group:not(:first-child) > .btn {
  display: none;
}
@media (pointer: fine), (pointer: none), (orientation: landscape) {
  .short-axis-group {
    display: none;
  }

  .short-axis-group .btn + .btn,
  .short-axis-group .btn + .short-axis-group,
  .short-axis-group .short-axis-group + .btn,
  .short-axis-group .short-axis-group + .short-axis-group {
    display: none;
  }
  .short-axis-group .btn,
  .short-axis-group .short-axis-group .btn {
    display: none;
  }

  .short-axis-group .btn:not(:last-child):not(.dropdown-toggle),
  .short-axis-group .short-axis-group:not(:last-child) .btn {
    display: none;
  }

  .short-axis-group .btn:not(:first-child),
  .short-axis-group .short-axis-group:not(:first-child) > .btn {
    display: none;
  }
}

.long-axis-group {
  display: none;
}
.long-axis-group .btn + .btn,
.long-axis-group .btn + .long-axis-group,
.long-axis-group .long-axis-group + .btn,
.long-axis-group .long-axis-group + .long-axis-group {
  display: none;
}
.long-axis-group .btn,
.long-axis-group .long-axis-group .btn {
  display: none;
}
.long-axis-group .btn:not(:last-child):not(.dropdown-toggle),
.long-axis-group .long-axis-group:not(:last-child) .btn {
  display: none;
}
.long-axis-group .btn:not(:first-child),
.long-axis-group .long-axis-group:not(:first-child) > .btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
@media (pointer: fine), (pointer: none), (orientation: landscape) {
  .long-axis-group {
    display: none;
  }
  .long-axis-group .btn + .btn,
  .long-axis-group .btn + .long-axis-group,
  .long-axis-group .long-axis-group + .btn,
  .long-axis-group .long-axis-group + .long-axis-group {
    display: none;
  }
  .long-axis-group .btn,
  .long-axis-group .long-axis-group .btn {
    display: none;
  }
  .long-axis-group .btn:not(:last-child):not(.dropdown-toggle),
  .long-axis-group .long-axis-group:not(:last-child) .btn {
    display: none;
  }
  .long-axis-group .btn:not(:first-child),
  .long-axis-group .long-axis-group:not(:first-child) > .btn {
    display: none;
  }
}

.is-long-axis-vertical {
  display: none;
}
.is-long-axis-horizontal {
  display: none;
}
@media (pointer: fine), (pointer: none), (orientation: landscape) {
  .is-long-axis-vertical {
    display: none;
  }
  .is-long-axis-horizontal {
    display: none;
  }
}

/*
is-short-axis-vertical only displays when the vertical axis is shortest
is-short-axis-horizontal only displays when the horizontal axis is shortest
*/
.is-short-axis-vertical {
  display: none;
}
.is-short-axis-horizontal {
  display: none;
}
@media (pointer: fine), (pointer: none), (orientation: landscape) {
  .is-short-axis-vertical {
    display: none;
  }
  .is-short-axis-horizontal {
    display: none;
  }
}

/*
remaining screen-specific content is ordered by position on the page
*/

#header {
  display: none;
}
#header h1 {
  display: none;
}
#header a {
  display: none;
}
#header a:hover {
  display: none;
}
@media (orientation: landscape) {
  #header {
    display: none;
  }
}
@media (pointer: fine), (pointer: none) {
  #header {
    display: none;
  }
  #header h1 {
    display: none;
  }
}

#navigation {
  display: none;
}
#navigation a {
  display: none;
}
#navigation a:hover {
  display: none;
}
@media (pointer: fine), (pointer: none) {
  #navigation {
   display: none;
  }
  #navigation a {
    display: none;
  }
}

.slider-label {
  display: none;
}
.slider-label img {
  display: none;
}
@media (pointer: fine), (pointer: none) {
  .slider-label {
    display: none;
  }
  .slider-label img {
    display: none;
  }
  .slider-label .vertical-axis-group {
    display: none;
  }
}

input[type="range"].slider-vertical {
  display: none;
}
@media (pointer: fine), (pointer: none) {
  input[type="range"].slider-vertical {
    display: none;
  }
}

/* ====== END OF SCREEN SPECIFIC CONTENT ======*/


/*
TAG BASED STYLING
*/
body {
  overflow: hidden;
}


/*
CLASS BASED STYLING
*/

/*
"#loading-dialog" is a visual cue that indicates to the user
 that the application is loading something.
*/
.loading-dialog {
  display: none;
}
.loading-dialog h2 {
  text-align: center;
}

/*
".notifications" express short nonessential messages to the user.
They require no interaction on the users behalf.
They appear at the bottom of the screen and are inspired by
 the notifications that appear in Skyrim to indicate things like encumbrance.
*/
.notifications-dialog {
  display: none;
}
.notifications-dialog h3 {
  display: none;
}
.notifications-dialog .fade-enter-active, .fade-leave-active {
  display: none;
}
.notifications-dialog .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  display: none;
}

/*
".dialog" express longer messages to the user.
They may potentially require interaction on the users behalf.
They appear as a white box in the center of the screen,
 and are inspired by Windows dialog boxes.
*/
.dialog {
  display: none;
}

/*
".hidden-when-loading" indicates an element must not render when
 a new game or save file is loaded.
This may be used to avoid confusing the user,
 or to prevent invalid states from occuring due to user interaction.
*/
.hidden-when-loading {
  display: none;
}


/* set "overflow: hidden" to hide the scrollbar ; */

.form-control {
  display: none;
}
.label {
  display: none;
}


/*
INDIVIDUAL COMPONENT BASED STYLING
*/

/*
We give special attention to styling the time warp control,
because it features so prominently
*/
#speed-control .input-group {
  display: none;
}
#speed-control .input-group-prepend,
#speed-control .input-group-text {
  display: none;
}

#speed-display {
  display: none;
}

/*
"#chart" conveys nonspatial data to the user on a 2d plot.
It occurs in the bottom right corner.
*/
#chart {
  display: none;
}
#chart canvas {
  display: none;
}
#chart .stat {
  display: none;
}
#chart .stat .name {
  display: none;
}
#chart .stat .value {
  display: none;
}

/*
"#stats" displays performance metrics such as fps.
It is only visible in dev environments.
It appears in the bottom left corner, since that's the only corner that
 hasn't been taken up yet.
*/
#stats {
  display: none;
}

/*
"#hidden-downloader" is an element that is required by the browser
 in order to download files, yet is not otherwise needed by the user interface
It  has no styling and is never meant to be seen.
*/
#hidden-downloader {
  display: none;
}

/*
"#drop-dialog" is a visual cue that indicates to the user
 that he can drag and drop files into the application.
*/
#drop-dialog {
  display: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-symbols-outlined {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
